{
  "nifi_username": "your-nifi-user-name",
  "nifi_password": "your-nifi-user-password",
  "aws_access_key": "your-aws-key",
  "aws_secret_key": "your-aws-secret-key",
  "azure_connection_string": "your-azure-connection-string",
  "storage": "aws" / "azure" / "local",
  "s3_bucket": "your-aws-bucket-demo",
  "local_output_directory": "/path/to/your/metrics/output"
}
